.stars-notation
  white-space: nowrap

// Glyph section
@each $key, $value in $states_colors
  .glyph-#{$key}
    color: $value

//.alert .glyph
  padding: .25rem 0

.glyph
  vertical-align: middle

.dropdown-item
  .glyph
    margin-right: 1rem

.fa,
.fas,
.far,
.fal,
.fab
  line-height: 0.7 !important

span:not(.input-group-addon, .btn) .glyph
  margin-top: -0.1rem

.input-group-btn span svg
  margin: 0.25rem

.toast .toast-header img
  width: 20px
  height: 20px
