// Awesome Font
@import font-awesome-sprockets
@import font-awesome

// Bootstrap
$enable-flex: true

//@import bootstrap-sprockets
//@import bootstrap/_variables
@import bootstrap/_functions
@import bootstrap/_variables
@import bootstrap
@import tether.min


//$brand-secondary: $gray-lighter
//$states_colors: (success: $brand-success, primary: $brand-primary, secondary: $brand-secondary, info: $brand-info, danger: $brand-danger, warning: $brand-warning, light: $brand-light, dark: $brand-dark)

$states_colors: $theme-colors

// ##### Bootstrap Plugins
// date_picker_field component
@import bootstrap-datepicker3.min
// multi_column_field component
@import jquery.multi-select.min
// switch_field component
@import bootstrap-switch
// multi_select_field component
@import bootstrap-multiselect.min
// dropdown_select_field component
//@import bootstrap-select.min
@import bootstrap-select.min
// mardown-editor component
@import bootstrap-markdown.min
// awesome bootstrap checkbox component
@import awesome-bootstrap-checkbox

// fix plugins
@import fix-bootstrap-4
//@import fix-dropdown-select

// Components
@import containers
@import tables
@import forms
@import navigations
@import notifications
@import boxes

// Other section
.ui-bibz-clear
  clear: both
