// libraries
@import "bootstrap"
$fa-font-path: 'fontawesome/'
@import 'fontawesome/fontawesome'
@import 'fontawesome/solid'
@import 'fontawesome/brands'
@import "multi-select"
@import "bootstrap-multiselect"
@import "bootstrap-markdown.min"
@import "bootstrap-switch.min"
@import "bootstrap-datepicker3.min"

$states_colors: $theme-colors

// Components
@import _boxes
@import _containers
@import _fixes
@import _forms
@import _navigations
@import _notifications
@import _tables

// Other section
.ui-bibz-clear
  clear: both
